{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure VMware Solution API",
    "description": "Azure VMware Solution API",
    "version": "2021-06-01"
  },
  "servers": [
    {
      "url": "https://avsrp.eastus2.avsstage.azure.com",
      "description": "Azure Resource Manager"
    }
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "PrivateClouds",
      "description": ""
    },
    {
      "name": "Clusters",
      "description": ""
    },
    {
      "name": "Operations",
      "description": ""
    },
    {
      "name": "Locations",
      "description": ""
    },
    {
      "name": "HcxEnterpriseSites",
      "description": ""
    },
    {
      "name": "Authorizations",
      "description": ""
    },
    {
      "name": "GlobalReachConnections",
      "description": ""
    },
    {
      "name": "WorkloadNetworks",
      "description": ""
    },
    {
      "name": "Addons",
      "description": ""
    },
    {
      "name": "Datastores",
      "description": ""
    },
    {
      "name": "CloudLinks",
      "description": ""
    },
    {
      "name": "Scripts",
      "description": ""
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List private clouds in a resource group",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCloudList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "PrivateClouds"
        ],
        "operationId": "PrivateClouds_List",
        "description": null,
        "x-ms-examples": {
          "PrivateClouds_List": {
            "$ref": "./examples/PrivateClouds_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of port mirroring profiles in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkPortMirroringList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListPortMirroring",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListPortMirroring": {
            "$ref": "./examples/WorkloadNetworks_ListPortMirroringProfiles.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AVS/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "Request has succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available operations",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of segments in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkSegmentsList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListSegments",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListSegments": {
            "$ref": "./examples/WorkloadNetworks_ListSegments.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/cloudLinks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List cloud link in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudLinkList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "CloudLinks"
        ],
        "operationId": "CloudLinks_List",
        "description": null,
        "x-ms-examples": {
          "CloudLinks_List": {
            "$ref": "./examples/CloudLinks_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/rotateVcenterPassword": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Rotate the vCenter password",
        "responses": {
          "204": {
            "description": "The password rotation was successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "The password rotation has started"
          }
        },
        "tags": [
          "PrivateClouds"
        ],
        "operationId": "PrivateClouds_RotateVcenterPassword",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PrivateClouds_RotateVcenterPassword": {
            "$ref": "./examples/PrivateClouds_RotateVcenterPassword.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dhcpConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List dhcp in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDhcpList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListDhcp",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListDhcp": {
            "$ref": "./examples/WorkloadNetworks_ListDhcpConfigurations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of vm groups in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVMGroupsList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListVMGroups",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListVMGroups": {
            "$ref": "./examples/WorkloadNetworks_ListVMGroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/globalReachConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List global reach connections in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalReachConnectionList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "GlobalReachConnections"
        ],
        "operationId": "GlobalReachConnections_List",
        "description": null,
        "x-ms-examples": {
          "GlobalReachConnections_List": {
            "$ref": "./examples/GlobalReachConnections_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/scriptPackages": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptPackagesList"
                }
              }
            },
            "description": "Request has succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Scripts"
        ],
        "operationId": "ScriptPackages_List",
        "description": "Return script packages available for a private cloud to run on their Private Cloud",
        "x-ms-examples": {
          "ScriptPackages_List": {
            "$ref": "./examples/ScriptPackages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines/{virtualMachineId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "summary": "Get a virtual machine by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVirtualMachine"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetVirtualMachine",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetVirtualMachine": {
            "$ref": "./examples/WorkloadNetworks_GetVirtualMachine.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/scriptPackages/{scriptPackageName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/scriptPackageName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptPackage"
                }
              }
            },
            "description": "Request has succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Scripts"
        ],
        "operationId": "ScriptPackages_Get",
        "description": "Return script package available to run on an Private Cloud",
        "x-ms-examples": {
          "ScriptPackages_Get": {
            "$ref": "./examples/ScriptPackages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/clusters": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List clusters in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_List",
        "description": null,
        "x-ms-examples": {
          "Clusters_List": {
            "$ref": "./examples/Clusters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/publicIPs/{publicIPId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/publicIPId"
          }
        ],
        "summary": "Get a Public IP Block by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkPublicIP"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetPublicIP",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetPublicIP": {
            "$ref": "./examples/WorkloadNetworks_GetPublicIPs.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/publicIPId"
          }
        ],
        "summary": "Create a Public IP Block by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkPublicIP"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkPublicIP"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreatePublicIP",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkPublicIP"
              }
            }
          },
          "description": "NSX Public IP Block",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreatePublicIP": {
            "$ref": "./examples/WorkloadNetworks_CreatePublicIPs.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/publicIPId"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "Delete a Public IP Block by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No VM group to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeletePublicIP",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeletePublicIP": {
            "$ref": "./examples/WorkloadNetworks_DeletePublicIPs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/gateways": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of gateways in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkGatewayList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListGateways",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListGateways": {
            "$ref": "./examples/WorkloadNetworks_ListGateways.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/hcxEnterpriseSites": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List HCX Enterprise Sites in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HcxEnterpriseSiteList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "HcxEnterpriseSites"
        ],
        "operationId": "HcxEnterpriseSites_List",
        "description": null,
        "x-ms-examples": {
          "HcxEnterpriseSites_List": {
            "$ref": "./examples/HcxEnterpriseSites_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/addons": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List addons in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Addons"
        ],
        "operationId": "Addons_List",
        "description": null,
        "x-ms-examples": {
          "Addons_List": {
            "$ref": "./examples/Addons_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of virtual machines in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVirtualMachinesList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListVirtualMachines",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListVirtualMachines": {
            "$ref": "./examples/WorkloadNetworks_ListVirtualMachines.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/segmentId"
          }
        ],
        "summary": "Get a segment by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkSegment"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetSegment",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetSegment": {
            "$ref": "./examples/WorkloadNetworks_GetSegments.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/segmentId"
          }
        ],
        "summary": "Create a segment by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkSegment"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkSegment"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreateSegments",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkSegment"
              }
            }
          },
          "description": "NSX Segment",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreateSegments": {
            "$ref": "./examples/WorkloadNetworks_CreateSegments.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/segmentId"
          }
        ],
        "summary": "Delete a segment by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No segment to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeleteSegment",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeleteSegment": {
            "$ref": "./examples/WorkloadNetworks_DeleteSegments.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/segmentId"
          }
        ],
        "summary": "Create or update a segment by id in a private cloud workload network.",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The patch will complete asynchronously"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkSegment"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_UpdateSegments",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkSegment"
              }
            }
          },
          "description": "NSX Segment",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_UpdateSegments": {
            "$ref": "./examples/WorkloadNetworks_UpdateSegments.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsServices/{dnsServiceId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsServiceId"
          }
        ],
        "summary": "Get a DNS service by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsService"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetDnsService",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetDnsService": {
            "$ref": "./examples/WorkloadNetworks_GetDnsServices.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsServiceId"
          }
        ],
        "summary": "Create a DNS service by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsService"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsService"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreateDnsService",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDnsService"
              }
            }
          },
          "description": "NSX DNS Service",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreateDnsService": {
            "$ref": "./examples/WorkloadNetworks_CreateDnsServices.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/dnsServiceId"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "Delete a DNS service by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No VM group to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeleteDnsService",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeleteDnsService": {
            "$ref": "./examples/WorkloadNetworks_DeleteDnsServices.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsServiceId"
          }
        ],
        "summary": "Create or update a DNS service by id in a private cloud workload network.",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The patch will complete asynchronously"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsService"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_UpdateDnsService",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDnsService"
              }
            }
          },
          "description": "NSX DNS Service",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_UpdateDnsService": {
            "$ref": "./examples/WorkloadNetworks_UpdateDnsServices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/vmGroupId"
          }
        ],
        "summary": "Get a vm group by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetVMGroup",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetVMGroup": {
            "$ref": "./examples/WorkloadNetworks_GetVMGroups.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/vmGroupId"
          }
        ],
        "summary": "Create a vm group by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreateVMGroup",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
              }
            }
          },
          "description": "NSX VM Group",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreateVMGroup": {
            "$ref": "./examples/WorkloadNetworks_CreateVMGroups.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/vmGroupId"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "Delete a vm group by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No VM group to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeleteVMGroup",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeleteVMGroup": {
            "$ref": "./examples/WorkloadNetworks_DeleteVMGroups.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/vmGroupId"
          }
        ],
        "summary": "Create or update a vm group by id in a private cloud workload network.",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The patch will complete asynchronously"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_UpdateVMGroup",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkVMGroup"
              }
            }
          },
          "description": "NSX VM Group",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_UpdateVMGroup": {
            "$ref": "./examples/WorkloadNetworks_UpdateVMGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/scriptPackages/{scriptPackageName}/scriptCmdlets": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/scriptPackageName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptCmdletsList"
                }
              }
            },
            "description": "Request has succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Scripts"
        ],
        "operationId": "ScriptCmdlets_List",
        "description": "Return script cmdlet resources available for a private cloud to create a script execution resource on their Private Cloud",
        "x-ms-examples": {
          "ScriptCmdlets_List": {
            "$ref": "./examples/ScriptCmdlets_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsServices": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "List of DNS services in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsServicesList"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_ListDnsServices",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_ListDnsServices": {
            "$ref": "./examples/WorkloadNetworks_ListDnsServices.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/clusters/{clusterName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/clusterName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Get a cluster by name in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Get",
        "description": null,
        "x-ms-examples": {
          "Clusters_Get": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the private cloud.",
            "name": "privateCloudName",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/clusterName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Create or update a cluster in a private cloud",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_CreateOrUpdate",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster"
              }
            }
          },
          "description": "A cluster in the private cloud",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Clusters_CreateOrUpdate": {
            "$ref": "./examples/Clusters_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/clusterName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Delete a cluster in a private cloud",
        "responses": {
          "204": {
            "description": "No Content. No cluster to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Delete",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Clusters_Delete": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/clusterName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Update a cluster in a private cloud",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Update",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterUpdate"
              }
            }
          },
          "description": "The cluster properties to be updated",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Clusters_Update": {
            "$ref": "./examples/Clusters_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsZones/{dnsZoneId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsZoneId"
          }
        ],
        "summary": "Get a DNS zone by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetDnsZone",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetDnsZone": {
            "$ref": "./examples/WorkloadNetworks_GetDnsZones.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsZoneId"
          }
        ],
        "summary": "Create a DNS zone by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreateDnsZone",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
              }
            }
          },
          "description": "NSX DNS Zone",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreateDnsZone": {
            "$ref": "./examples/WorkloadNetworks_CreateDnsZones.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/dnsZoneId"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "Delete a DNS zone by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No VM group to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeleteDnsZone",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeleteDnsZone": {
            "$ref": "./examples/WorkloadNetworks_DeleteDnsZones.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dnsZoneId"
          }
        ],
        "summary": "Create or update a DNS zone by id in a private cloud workload network.",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The patch will complete asynchronously"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_UpdateDnsZone",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDnsZone"
              }
            }
          },
          "description": "NSX DNS Zone",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_UpdateDnsZone": {
            "$ref": "./examples/WorkloadNetworks_UpdateDnsZones.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/listAdminCredentials": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "List the admin credentials for the private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCredentials"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "PrivateClouds"
        ],
        "operationId": "PrivateClouds_ListAdminCredentials",
        "description": null,
        "x-ms-examples": {
          "PrivateClouds_ListAdminCredentials": {
            "$ref": "./examples/PrivateClouds_ListAdminCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dhcpConfigurations/{dhcpId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/dhcpId"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          }
        ],
        "summary": "Get dhcp by id in a private cloud workload network.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDhcp"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_GetDhcp",
        "description": null,
        "x-ms-examples": {
          "WorkloadNetworks_GetDhcp": {
            "$ref": "./examples/WorkloadNetworks_GetDhcpConfigurations.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dhcpId"
          }
        ],
        "summary": "Create dhcp by id in a private cloud workload network.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDhcp"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDhcp"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_CreateDhcp",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDhcp"
              }
            }
          },
          "description": "NSX DHCP",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_CreateDhcp": {
            "$ref": "./examples/WorkloadNetworks_CreateDhcpConfigurations.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dhcpId"
          }
        ],
        "summary": "Delete dhcp by id in a private cloud workload network.",
        "responses": {
          "204": {
            "description": "No Content. No DHCP configuration to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_DeleteDhcp",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_DeleteDhcp": {
            "$ref": "./examples/WorkloadNetworks_DeleteDhcpConfigurations.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/dhcpId"
          }
        ],
        "summary": "Create or update dhcp by id in a private cloud workload network.",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The patch will complete asynchronously"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadNetworkDhcp"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "WorkloadNetworks"
        ],
        "operationId": "WorkloadNetworks_UpdateDhcp",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadNetworkDhcp"
              }
            }
          },
          "description": "NSX DHCP",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WorkloadNetworks_UpdateDhcp": {
            "$ref": "./examples/WorkloadNetworks_UpdateDhcpConfigurations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/cloudLinks/{cloudLinkName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/cloudLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Get an cloud link by name in a private cloud",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudLink"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "CloudLinks"
        ],
        "operationId": "CloudLinks_Get",
        "description": null,
        "x-ms-examples": {
          "CloudLinks_Get": {
            "$ref": "./examples/CloudLinks_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the private cloud.",
            "name": "privateCloudName",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/cloudLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Create or update a cloud link in a private cloud",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudLink"
                }
              }
            },
            "description": "accepted operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudLink"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "CloudLinks"
        ],
        "operationId": "CloudLinks_CreateOrUpdate",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudLink"
              }
            }
          },
          "description": "A cloud link in the private cloud",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CloudLinks_CreateOrUpdate": {
            "$ref": "./examples/CloudLinks_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/privateCloudName"
          },
          {
            "$ref": "#/components/parameters/cloudLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "summary": "Delete a cloud link in a private cloud",
        "responses": {
          "204": {
            "description": "No Content. No cloud link to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          },
          "202": {
            "description": "Accepted. The delete will complete asynchronously"
          },
          "200": {
            "description": "OK. The delete has succeeded"
          }
        },
        "tags": [
          "CloudLinks"
        ],
        "operationId": "CloudLinks_Delete",
        "description": null,
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CloudLinks_Delete": {
            "$ref": "./examples/CloudLinks_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkQuotaAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Azure region",
            "name": "location",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
[...]
